{% extends 'base.html' %}

{% block head %}
<title>Plasticity Home</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    .blurb1 {
        margin: 15px;
        padding: 15px;
        background-color: #076390;
        color: white;
        font-family: sans-serif;
        font-size: 45px;
        border-radius: 20px;
        display: flex;
        float: left;
        width: 475px;
    }
    .blurb2 {
        margin: 15px;
        padding: 15px;
        background-color: #076390;
        color: white;
        font-family: sans-serif;
        font-size: 24px;
        border-radius: 20px;
        display: flex;
        float: left;
        width: 475px;
    }
    img {
        margin: 10px;
        margin-right: 15px;
        float: right;
    }
</style>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="/static/Plasticity_Logo_Green.png" width="270" height="60"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end">
        </ul>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Product</a>
            </li>
    </div>
</nav>
<div class="blurb1">
    Find the plastics in your products. Keep microplastics out of your body.
</div>
<div>
    <img src="/static/StockImage.png" width="900" height="670"/>
</div>
<div class="blurb2">
    Microplastics have been identified in nearly 87% of cosmetic products in the world today. With the effects of these materials still unknown, it is essential that you know what products put you at higher risk for microplastic consumption. Click on 'Product' to get started on finding lower-risk substitutes.
</div>


<!-- Bootstrap Javascripts -->  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> 
{% endblock %}