{% extends 'base.html' %}

{% block head %}
<title>Plasticity Home</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    .search {
        margin: 10px;
    }
    .button-margin {
        margin: 5px;
        float: right;
    }
    .product-card {
        margin: 30px;
    }
    .div-left {
        float: left;
    }
    .div-leftest {
        float: left;
        margin-left: 15px;
    }
    input {
        background-color: rgb(16, 173, 16);
        font-size: large;
        font-family: serif;
        color: white;
        border-radius: 10px;
    }
    body {
        background-color: #b5d0c0;
    }
</style>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/static/Plasticity_Logo_Green.png" width="270" height="60"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end">
        </ul>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/product">Risk-Rater</a>
            </li>
    </div>
</nav>
<div class="search">
    <form action="#" method="post">
        <div class="form-container">
            <div class="input-group">
                <span class="input-group-text" >Enter a Product</span>
                <input class="form-control" aria-label="With textarea" type="text" name="product"/>
            </div>
            <div class="button-margin">
                <div class="col-12">
                    <input type="submit"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="div-leftest">
    {% for item in data %}
    <div class="card" style="width: 75rem;">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>

            {% if item.risk == 'high' %}
            <h6 class="card-subtitle mb-2 text-muted">Risk: <span style="color: red;">{{item.risk}}</span></h6>
            {% endif %}
            {% if item.risk == 'medium' %}
            <h6 class="card-subtitle mb-2 text-muted">Risk: <span style="color: orange;">{{item.risk}}</span></h6>
            {% endif %}
            {% if item.risk == 'low' %}
            <h6 class="card-subtitle mb-2 text-muted">Risk: <span style="color: green;">{{item.risk}}</span></h6>
            {% endif %}

            {% if item.high|length == 0 %}
            <p class="card-text">High Risk Ingredients: none</p>
            {% endif %}
            {% if item.med|length == 0 %}
            <p class="card-text">Medium Risk Ingredients: none</p>
            {% endif %}

            {% for ingredient in item.high %}
            <p class="card-text">High Risk Ingredients: {{ingredient}}</p>
            {% endfor %}
            {% for ingredient in item.med %}
            <p class="card-text">Medium Risk Ingredients: {{ingredient}}</p>
            {% endfor %}

        </div>
    </div>
    {% endfor %}
</div>

<!-- Bootstrap Javascripts -->  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> 
{% endblock %}